* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 1.4rem 1.4rem;
  background-color: blueviolet;
  color: whitesmoke;
  font-size: 2.2rem;
}

nav ul li {
  list-style-type: none;
  padding-left: 1rem;
  transition: all 0.5s ease-in-out;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.6rem;
  transition: color 0.5s ease-in-out;
}

nav ul li a:hover {
  cursor: pointer;
  background-color: rgb(248, 240, 240);
  color: blueviolet;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
}

.left_nav {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.active {
  background-color: whitesmoke;
  color: blueviolet;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  transition: background-color 0.5s ease-in-out;
}

.btn-logout {
  cursor: pointer;
  background-color: blueviolet;
  color: whitesmoke;
  border: none;
  font-size: 1.2rem;
}
header {
  background-color: rgb(243, 238, 238);
  color: rgb(58, 57, 57);
  padding: 1.2rem 1.8rem;
  font-size: 2.2rem;
}

main {
  height: 95dvh;

  padding: 1rem;
}

.notes {
  margin-bottom: 2.2rem;
}

.note {
  list-style-type: none;
  margin-bottom: 1rem;
}

.note__item {
  color: blueviolet;
  font-size: 1.2rem;
}

.note__summary {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.note_create,
.form__btn {
  background-color: blueviolet;
}
.note_create,
.form__btn,
.cancel__btn {
  color: whitesmoke;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  text-decoration: none;
}

.note_create:hover,
.form__btn:hover {
  background-color: rgb(164, 86, 237);
  cursor: pointer;
}

.cancel__btn {
  background-color: gray;
}

/* Create Note Form */

.form__container,
.register__containers {
  margin-top: 1.8rem;
  margin-left: 1rem;
  padding: 1.4rem;
  border-radius: 1rem;
  background-color: rgb(243, 238, 238);
  width: 50%;
}

.form__container form,
.register__container form {
  gap: 1rem;
}

.form__container form,
.register__container form,
.form__title,
.form__email,
.form__password,
.form__summary {
  display: flex;
  flex-direction: column;
}

.register__container form {
  background-color: antiquewhite;
  padding: 3.2rem;
  border-radius: 1.2rem;
}

.register__container {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

.form__title,
.form__summary,
.form__email,
.form__password {
  gap: 0.4rem;
}

.form__title label,
.form__email label,
.form__password label,
.form__summary label {
  font-size: 1rem;
}

.form__title input,
.form__email input,
.form__password input,
.form__summary textarea {
  padding: 0.6rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
}

.form__title input:focus,
.form__email input:focus,
.form__password input:focus,
.form__summary textarea:focus {
  outline: none;
}

.form__header {
  text-align: center;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

.form__header a:active {
  color: blueviolet;
}

.form__header h2 a {
  cursor: pointer;
  text-decoration: none;
}

.form__btn,
.cancel__btn {
  margin-top: 1rem;
  color: white;
  border: none;
}

.btn_delete,
.btn_edit {
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 0.6rem;
  border: none;
  transition: all 0.4s ease-in-out;
}

.btn_delete {
  background-color: red;
}

.btn_edit {
  background-color: gray;
  text-decoration: none;
}

.btn_delete:hover {
  background-color: rgb(250, 65, 65);
  transition: background-color;
}

.btn_edit:hover {
  background-color: rgb(160, 152, 152);
  transition: background-color;
}

.input__error {
  font-size: 1rem;
  color: rgb(247, 98, 98);
}

.update_btn {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

footer {
  background-color: blueviolet;
  color: whitesmoke;
  padding: 0.4rem 0.8rem;
  text-align: center;
}

.not_found {
  font-size: 2.4rem;
  color: rgb(58, 57, 57);
}

.go_back {
  color: rgb(120, 120, 243);
  text-decoration: underline;
}
